@font-face {
  font-family: 'UntitledSans';
  src: url('../fonts/UntitledSansWeb-Regular.eot');
  src: url('../fonts/UntitledSansWeb-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/UntitledSansWeb-Regular.woff2') format('woff2'), 
       url('../fonts/UntitledSansWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UntitledSans';
  src: url('../fonts/UntitledSansWeb-RegularItalic.eot');
  src: url('../fonts/UntitledSansWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/UntitledSansWeb-RegularItalic.woff2') format('woff2'), 
       url('../fonts/UntitledSansWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/*test font to view font locally*/
@font-face {
    font-family: 'UntitledSansTest-Regular';
    src:    url('UntitledSansTest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*site-wide variables*/
:root {
  --grey-color: grey;
  --spacing-padding: 20px;
}

html{
    font-family: 'UntitledSans','UntitledSansTest-Regular',sans-serif;
    font-style: normal;

    font-size: 19px;
    line-height: 32px;

    -webkit-font-smoothing: antialiased;
     animation: 1s ease-in 0s 1 fadeIn;
}

html a{
    transition: opacity 0.3s ease;
}

html a:hover{
    /*opacity: .5;*/
}

body{
    margin: 0px;
}




/*
///////// HEADER //////////
*/

header{
    text-align: left;
    padding: var(--spacing-padding);
    padding-bottom: 0px;
    padding-bottom: 15px;
    padding-top: 30px;
}

.header-wrapper{
    background-color: #F5F5F5;
}

.name{
    text-decoration: none;
    color: black;
    display: inline-block;

    padding-bottom: 20px;
}

.role{
    color: var(--grey-color);
    display: inline-block;
    padding-bottom: 20px;
    width: 162px;
    line-height: 25px;
}

.who{
    display: inline-block;
    width: 191px;
    margin-right: var(--spacing-padding);
    /*border: 1px solid blue;*/
}

.menu{
    vertical-align: top;
    padding-bottom: var(--spacing-padding);
    display: inline-block;
}

.menu a{
    text-decoration: none;
    border-bottom: 1px solid var(--grey-color);

    margin-right: 48px;
    color: var(--grey-color);
    opacity: 1;
}

.menu a img{
    width: 11px;
}

#right-arrow{
    opacity: 0;
    transform: rotate(-90deg);
    margin-right: 3px;
    margin-left: -18px;
}

#unselected-menu-item:hover > #right-arrow{
    opacity: 1;
}

#selected-menu-item:hover > #down-arrow{
    position: relative;
    top: 4px;
}

#down-arrow{
    /*transition: top .5s ease;*/
    x-transition: all 1s ease-in-out;
    animation: bounce 1s infinite;
    top: 0;
}

@keyframes bounce {
  0%   { top: 0px; }
  50%  { top: 4px; }
  100% { top: 0px; }
}

#resume-arrow, #right-arrow{
    transition: opacity 0.5s ease;
}

#resume-arrow{
    opacity: 0;
    transform: rotate(-135deg);
    left: 93px;
    position: relative;
    margin-left: -18px;
}

#unselected-menu-item:hover > #resume-arrow{
    opacity: 1;
}


/*
///////// LANDING //////////
*/

.project-container{
    padding-left: 0px;
    padding-right: 0px;
    
    padding-top: 34px;
    padding-bottom: 24px;

    margin: var(--spacing-padding);
    margin-top: 0px;
    margin-bottom: 0px;

    border: 1px solid lightgrey;
    border-left: 0px;
    border-right: 0px;
    color: black;

    display: block;
}

.landing-text-container div{
    display: inline-block;
}

#first-project{
    border-top: 0px;
}

.project-title{
    /*font-size: 26px;*/
    margin-bottom: 20px;

    border-bottom: 1px solid black;

    margin-right: 62px;
    vertical-align: top;
    line-height: 24px;
}

.project-container-wrapper a{
    text-decoration: none;
}

.project-description{
    max-width: 355px;
}

.project-blurb{
    /*line-height: 27px;*/
    /*margin-bottom: calc(var(--spacing-padding)/2);*/
    margin-bottom: 4px;
    line-height: 25px;
}

.project-tags{
    color: var(--grey-color);
    font-style: italic;
}

.landing-image{
    padding-top: 25px;
    z-index: 101;
}

.landing-image video, .landing-image img{
    max-width: 100%;
}

.big-link{
    margin-bottom: 30px;
}

.big-link a{
    font-size: 40px;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 4px solid blue;
    color: black;
    color: blue;

}

p{
    margin-bottom: 25px;
    margin-top: 0px;
}

p a{
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    color: black;
}


/*
///////// BIO //////////
*/

.bio, .bio-image p,.links, .work-availability{
    max-width: 470px;
}

.info-title{
    font-size: 24px;

    margin-bottom: 10px;

    margin-top: 40px;
}

.bio-content{
    padding-left: var(--spacing-padding);
    padding-right: var(--spacing-padding);
}

footer {
    background-color: #F5F5F5;

    padding-left: var(--spacing-padding);
    padding-right: var(--spacing-padding);
    margin-top: var(--spacing-padding);
    padding-top: var(--spacing-padding);
    padding-bottom: 15px;
}

footer {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 24px;
}

footer a{
     color: var(--grey-color);
     border-bottom: 1px solid var(--grey-color);
     text-decoration: none;
}

.philosophy{
    font-style: italic;
}

.bio-content p{
    /*font-size: 19px;
    line-height: 30px;*/
    font-size: 16px;
    line-height: 24px;
}

.bio-image{
    line-height: 0px;
}

.bio-image img{
    width: 100%;
    padding-top: var(--spacing-padding);
}

.caption{
    font-size: 14px;
    opacity: .5;
    margin-top: -5px;
}

#project-caption{
    margin-top: -40px;
    margin-bottom: 40px;
}

.updated {
    opacity: .5;
    /*font-size: 14px;*/
    margin-bottom: 0px;
    margin-top: -10px;
}

h4{
    font-size: 19px;
    font-weight: normal;
    color: var(--grey-color);
}

.bonus-content{
    grid-column-start: 2;
    grid-column-end: 4;
}


.links p a{
    margin-right: 20px;
    margin-bottom: 8px;
}

.links p, .work-availability p{
    margin-bottom: 0px; 
/*    margin-top: 7px;*/
}

.links .info-title, .work-availability .info-title{
    margin-bottom: 0px;
}

.email-link{
    transition: opacity 0.5s ease;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
}

.email-link:hover{
    opacity: .5;
}


/* //////////PROJECT PAGE/////////////*/

.project-story{
    max-width: 550px;
    margin: 0;
    padding: var(--spacing-padding);
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 101;
}

.project-story h3{
    padding-top: var(--spacing-padding);
}

.project-story p{
   margin-bottom: var(--spacing-padding);
   z-index: 2;
}

.overview img{
    max-width: 350px;
    margin-top: 40px;
}

.overview{
    margin-top: 80px;
}

h3{
    font-weight: normal;
    font-size: 26px;
    color: var(--grey-color);
}

.juxtagraph-circle{
    border: 1px solid red;
    position: relative;
    padding-bottom: 70px;
}

.juxtagraph-circle img{
    max-width: 60vw;
}

.juxtagraph-circle .big-link{
    position: absolute;
    vertical-align: middle;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 28%;
    /*margin-bottom: 0;*/

    padding: 0px;
}

.project-story video{
    max-width: 100%;
}

.video-container{
   
}

/*FOR TRAVEL PALS VIDEO*/
.video-container{
    position: relative;
    /*height: auto;*/

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    width: 1000px;
    height: 563px;

    /*margin-top: 100px;
    margin-bottom: 100px;*/

    margin-bottom: var(--spacing-padding);
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.case-studies-intro{
    background-color: #F5F5F5;
    padding: 40px;
 /*   margin-bottom: 40px;*/
}

.case-studies-intro h3, .case-studies-intro p{
    padding: 0px;
    margin: 0px;
}

.case-study{
    position: relative;
}

.case-study h5{
    margin: 0px;
    margin-top: 20px;
    padding: 0px;

    font-weight: normal;
    font-size: 19px;
    color: var(--grey-color);

    /*border-bottom: 1px solid var(--grey-color);
    display: inline-block;*/
}

.case-study h6{
    position: absolute;
    top: -5px;

    margin: 0px;
    padding: 0px;
    font-weight: normal;

    font-size: 16px;
    color: var(--grey-color);
}

#hang-quote{
    text-indent: -0.3em;
}

.github-flow{
    display: block;
    margin-top: 10px;
}

.github-flow img{

}

.github-flow p{
    
    margin-bottom: 5px !important;
    color: var(--grey-color);
    font-size: 16px;
    line-height: 20px;
}

#cap2{
    grid-column-start: 3 !important;
}

#cap3{
    grid-column-start: 5 !important;
}

#gh-arrow{
    transform: rotate(90deg);
}




.before-after{
    background-color: black;
    color: white;

    padding: var(--spacing-padding);

    position: relative;
    margin-bottom: var(--spacing-padding);
}

.before-after img{
    display: inline-block;
    width: 100%;
    margin: 0px !important;
    grid-row-start: 2;
}

.before-after p{
    grid-row-start: 1;
    grid-column-start: 1!important;
    margin-bottom: 10px;

    line-height: 24px;
    font-size: 16px;
}

#second-column{
    grid-column-start: 2!important;
}

#old-loading{
    position: absolute;
    width: 19%;
    left: 38%;
    top: 29%;
}

#new-loading{
    position: absolute;
    width: 18%;
    right: 40%;
    top: 79%;
}



@media only screen  and (max-width : 1300px) {
    .video-container{
        position: relative;
        padding-bottom: 56.25%; /*16:9*/
        padding-top: 25px;
        width: auto;
        height: 0;
    }
}

.project-container{
    padding-left: 0px;
    padding-right: 0px;
}

.content{
    position: relative;
}

.project-story img{
    max-width: calc(100vw - 40px);
    margin-bottom: var(--spacing-padding);
    /*display: block;*/
    /*float: left;*/

    /*left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;*/
}

.overview img{
    max-width: 350px;
}

#first-post{
    margin-top: 80px;
}

.date{
    color: var(--grey-color);
    font-size: 15px;
}

.post-wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
}

.post-wrapper img{
    margin: 0px;
    max-height:95vh;
}

.post-wrapper a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    /*margin-top: -20px;
    top: -15px;
    position: relative;*/
}

#width500 img{
    width: 500px;
}

#drop-shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 1px 6px rgba(0,0,0,0.2);
}

.spinning-image{
    text-align: center;
    margin-top: 20px;
}

.spinning-image img{
    -webkit-animation:spin 12s linear infinite;
    -moz-animation:spin 12s linear infinite;
    animation:spin 12s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.post-wrapper p{
    margin-bottom: 20px;
}

#new-tab-arrow{
    transform: rotate(-135deg);
    margin: 0px;
    width: 15px;
    position: relative;
    top: -14px;
    left: 5px;
}

li a{
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    color: black;
}

li {
    margin-bottom: 20px;
}

.more-projects h3{
    margin: 0px;
    margin-left: var(--spacing-padding);
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

#max-width-360 img{
        max-width: 100%;
    }



/*When there's enough space for 2 column*/
@media only screen  and (min-width : 622px) {
    :root {
        --spacing-padding: 40px;
    }

    .github-flow{
        width: calc(100vw - 80px);
        /*margin-left: -40px;*/

        display: grid;
        grid-template-columns: 391fr 40fr 499fr 40fr 391fr;
        grid-column-gap:20px;
        grid-row-gap:0px;
        align-items: center;

        margin-top: 10px;
    }

    .name{
        padding-bottom: 5px;
    }

    .role{
        padding-bottom: 35px;
     }

      header{
        padding: var(--spacing-padding);
        padding-bottom: 0px;
        padding-top: 31px;
    }

    .info-title{
        margin-top: 0px;
    }

    .github-flow img{
        width: 100%;
        grid-row-start: 2;
        margin-left: 0px !important;
    }

    .github-flow p{
        grid-row-start: 1;

        grid-column-start: 1 !important;

        margin-bottom: 0px !important;
        color: var(--grey-color);
        font-size: 16px;
        line-height: 20px;
    }

    #cap2{
        grid-column-start: 3 !important;
    }

    #cap3{
        grid-column-start: 5 !important;
    }

    #gh-arrow{
        transform: rotate(0deg);
    }

    #big-project-title{
        font-size: 26px;
    }

    #max-width-360 img{
        max-width: 360px;
    }

    
     .case-study h6{
        top: 43px;
        left: -30px;
        bottom: 0px;
    }

    .before-after{
        background-color: black;
        color: white;

        width: calc(100vw - 160px);
        padding: var(--spacing-padding);

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--spacing-padding);
        grid-row-gap: 0px;

        position: relative;
    }

    .before-after img{
        display: inline-block;
        width: 100%;
        margin: 0px !important;
        grid-row-start: 2;
    }

    .before-after p{
        grid-row-start: 1;
        grid-column-start: 1!important;
        margin-bottom: 10px;
    }

    #second-column{
        grid-column-start: 2!important;
    }

    #old-loading{
        position: absolute;
        width: 12%;
        left: 19%;
        top: 37%;
    }

    #new-loading{
        position: absolute;
        width: 11%;
        right: 19.5%;
        top: 52%;
    }

    .project-title{
        vertical-align: top;
        width: 191px;
        margin-right: var(--spacing-padding);
        font-size: 19px;

        border-bottom: none;
    }

    .landing-image{
        display: block;
        /*display: none;*/
        grid-column-start: 1;
        grid-column-end: 3;
        width: auto;
    }

     .project-container{
        display: grid;
        grid-template-columns: 610px 1fr;
        grid-gap: var(--spacing-padding);
        grid-row-gap: 0px;
    }

    /*
    ///////////INFO PAGE////////////
    */

    .bio-content{
        display: grid;
        grid-template-columns: 184px 365px 1fr;
        grid-column-gap: 50px;
        padding-top: var(--spacing-padding);
    }

    footer{
        display: grid;
        grid-template-columns: 184px 365px 1fr;
        grid-column-gap: 50px;
    }

    .license, .philosophy{
        grid-column-start: 2;
    }

    .updated {
        /*font-size: 14px !important;*/
    }

    .bio{
        padding-top: 0px;
        margin-bottom: 5px;
    }

    .links, .work-availability, .bio-image{
        grid-column-start: 2;
    }

    .work-availability, .links{
        margin-top: 30px;
    }

    .bio-image{
        grid-row-start: 5;
    }


}

/*Images in same row*/
@media only screen  and (min-width : 950px) {

    #project-arrow{
        width: 14px;
        /*transform: rotate(-90deg);*/
        position: absolute;
        left: 40px;
        opacity: 0;
        margin-top: 5px;
        margin-left: -55px;
        transition: opacity .5s, margin-left .5s;

        /*transition: left .5s ease;*/
    }

    .project-container:hover > .landing-text-container #project-arrow{
        /*opacity: 1;*/
        margin-left: 0px;
    }

     #responsive-screens{
        max-width: 870px;
        margin-left: -160px;
    }

    .github-flow{
        margin-left: -234px;
    }

    .before-after{
        margin-left: -234px;
    }

    .project-container{
        height: 91px;
        transition: padding-top .3s, padding-bottom .3s;
        margin-top: -1px;
    }

    .project-container-wrapper:hover {
         background-color: #F5F5F5;
    }

    .project-container:hover{
        padding-top: 45px;
        padding-bottom: 35px;
        padding-left: var(--spacing-padding);
        padding-right: var(--spacing-padding);
        margin-left: 0px;
        margin-right: 0px;

        /*switch margins to padding*/
    }

    #first-project:hover{
        border-top: 1px solid lightgrey;
        margin-top: -1px;
    }
    
    .landing-image{
        opacity: 0;
        transition: opacity .5s ease;
    }

    .project-container:hover > .landing-image {
        opacity: 1;
    }

    .project-container-wrapper{
        position: relative;
    }

    .landing-image{
        position: absolute;
        width: calc(100vw - 730px);
        right: var(--spacing-padding);

        top: 0; 
        bottom: 0; 
        margin-top: auto; 
        margin-bottom: auto;

    }

    .landing-image video, .landing-image img{
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    /*video{
        vertical-align: center;
        top: 50%; 
        bottom: 50%; 
        margin-top: auto; 
        margin-bottom: auto;
    }*/


    .project-container{
        display: grid;
        grid-template-columns: 610px 1fr;
        grid-gap: var(--spacing-padding);
        grid-row-gap: 0px;
    }

    .landing-image{
        padding-top: 0px;
        grid-column-start: 2;
    }

    .menu, .project-description{
        width: 356px;
        float: none;
    }

    .landing-text-container{
        display: inline-block;
    }

    .project-title, {
        width: 191px;
        margin-right: var(--spacing-padding);
    }

    
     /*
    ///////////INFO PAGE////////////
    */

    .bio-content{
        display: grid;
        grid-template-columns: 184px 365px 1fr;
        grid-column-gap: 50px;
        padding-top: var(--spacing-padding);
    }

    footer{
        display: grid;
        grid-template-columns: 184px 370px 1fr;
        grid-column-gap: 45px
    }

    .license, .philosophy{
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .philosophy{
        margin-top: 72px;
    }

    .bio{
        padding-top: 0px;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .links{
        grid-column-start: 3;
        margin-top: 0px;
    }
    .work-availability{
        grid-column-start: 3;
        margin-top: 0px;
    }
    .bio-image{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
    }

    .bio-image img{
        padding-top: 7px;
    }

    .info-title{
        padding-top: 0px;
    }

    .bio-image, .links, .work-availability{
        max-width: 365px;
        /*margin-top: -10px;*/
    }

    /*
    ///////////PROJECT PAGE////////////
    */

    .project-story{
        /*display: grid;
        grid-template-columns: 184px 520px 1fr;
        grid-column-gap: 50px;*/
        margin-left: 234px;
        max-width: 550px;
        /*padding-top: var(--spacing-padding);*/
    }

    .project-story img{
        margin-left: -234px;
    }

    #align-with-text{
        margin-left: 0px;
        max-width: calc(100vw - 314px);
    }

    #full-width-image{
        margin-left: -221px;
        max-width: 91vw;
    }

    .overview img{
        width: 350px;
        margin-bottom: -40px;
    }

    #poster-mockup{
        margin-left:-52px
    }

    #serendipity-mockups{
        margin-left: -117px;
    }

    #site-map{
        max-width:700px;
        margin-left: 0px;
    }

    .project-story h3{
        /*grid-column-start: 1;*/
        margin-top: 3px;
        margin-bottom: 10px;
    }

    .project-story p{
        grid-column-start: 2;
        /*grid-row-start: 1;*/
    }

    #misc-image{
        max-width: 350px;
    }

}

/*turns landing image on for project pages*/
#project-page {
    opacity: 1;
    /*padding: 60px;*/
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;

    /*so the hover state isn't seen*/
    padding-top: 45px;
    padding-bottom: 35px;
    padding-left: var(--spacing-padding);
    padding-right: var(--spacing-padding);
    margin-left: 0px;
    margin-right: 0px;
}



