@font-face {
  font-family: 'UntitledSans';
  src: url('../fonts/UntitledSansWeb-Regular.eot');
  src: url('../fonts/UntitledSansWeb-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/UntitledSansWeb-Regular.woff2') format('woff2'), 
       url('../fonts/UntitledSansWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UntitledSans';
  src: url('../fonts/UntitledSansWeb-RegularItalic.eot');
  src: url('../fonts/UntitledSansWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/UntitledSansWeb-RegularItalic.woff2') format('woff2'), 
       url('../fonts/UntitledSansWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/*test font to view font locally*/
@font-face {
    font-family: 'UntitledSansTest-Regular';
    src:    url('UntitledSansTest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*site-wide variables*/
:root {
  --grey-color: grey;
  --spacing-padding: 30px;
}

html{
    font-family: 'UntitledSans','UntitledSansTest-Regular',sans-serif;
    font-style: normal;

    font-size: 19px;
    line-height: 30px;

    -webkit-font-smoothing: antialiased;
     animation: 1s ease-in 0s 1 fadeIn;
}

html a{
    transition: opacity 0.3s ease;
}

html a:hover{
    /*opacity: .5;*/
}

body{
    margin: 0px;
}




/*
///////// HEADER //////////
*/

header{
    text-align: left;
    margin: var(--spacing-padding);
    margin-bottom: 0px;
    border-bottom: 1px solid lightgrey;
}

.name{
    text-decoration: none;
    color: black;
    display: inline-block;
    vertical-align: top;
    margin-right: 31px;

    padding-bottom: calc(var(--spacing-padding) - 12px);
}

.role{
    color: var(--grey-color);
    display: inline-block;
    padding-bottom: var(--spacing-padding);
    width: 162px;
}

.who{
    display: inline-block;
}

.menu{
    vertical-align: top;
    padding-bottom: var(--spacing-padding);
    display: inline-block;
    margin-top: -11px; 
}

.menu a{
    text-decoration: none;
    margin-right: 50px;
    color: var(--grey-color);
    opacity: 1;
}

.menu a img{
    width: 13px;
}

#right-arrow{
    opacity: 0;
    transform: rotate(-90deg);
    margin-right: 3px;
    margin-left: -22px;
}

#unselected-menu-item:hover > #right-arrow{
    opacity: 1;
}

#selected-menu-item:hover > #down-arrow{
    position: relative;
    top: 4px;
}

#down-arrow{
    /*transition: top .5s ease;*/
    x-transition: all 1s ease-in-out;
    animation: bounce 1s infinite;
    top: 0;
}

@keyframes bounce {
  0%   { top: 0px; }
  50%  { top: 4px; }
  100% { top: 0px; }
}

#resume-arrow, #right-arrow{
    transition: opacity 0.5s ease;
}

#resume-arrow{
    opacity: 0;
    transform: rotate(-135deg);
}

#unselected-menu-item:hover > #resume-arrow{
    opacity: 1;
}


/*
///////// LANDING //////////
*/

.project-container{
    padding: var(--spacing-padding);
    padding-left: 0px;
    padding-right: 0px;
    margin: var(--spacing-padding);
    margin-top: 0px;
    margin-bottom: 0px;

    border-bottom: 1px solid lightgrey;
    color: black;

    display: block;
}

.landing-text-container div{
    display: inline-block;
}

.project-title{
    font-size: 26px;
    width: 203px;
    margin-bottom: calc(var(--spacing-padding) - 10px);
}

.project-description{
    max-width: 355px;
}

.project-blurb{
    /*line-height: 27px;*/
    /*margin-bottom: calc(var(--spacing-padding)/2);*/
    margin-bottom: 16px;
}

.project-tags{
    color: var(--grey-color);
    font-style: italic;
}

.landing-image{
     padding-top: var(--spacing-padding);
}

.landing-image video, .landing-image img{
    width: 100%;
}

.big-link{
    margin-bottom: 30px;
}

.big-link a{
    font-size: 40px;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 4px solid blue;
    color: black;
    color: blue;

}

p{
    margin-bottom: 25px;
    margin-top: 0px;
}

p a{
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    color: black;
}


/*
///////// BIO //////////
*/

.bio, .bio-image p,.links, .work-availability{
    max-width: 470px;
}

.info-title{
    font-size: 24px;

    margin-bottom: 10px;
    padding-top: var(--spacing-padding);
}

.bio-content{
    padding-left: var(--spacing-padding);
    padding-right: var(--spacing-padding);
}

.bio-content p{
    font-size: 16px;
    line-height: 24px;
    /*margin-top: 0px;*/
}

.bio-image img{
    width: 100%;
    padding-top: var(--spacing-padding);
}

.caption{
    font-size: 14px;
    opacity: .5;
    margin-top: -5px;
}

#project-caption{
    margin-top: -40px;
    margin-bottom: 40px;
}

.updated{
    opacity: .5;
    margin-bottom: 0px;
    margin-top: -10px;
}

.links p a{
    margin-right: 20px;
    margin-bottom: 8px;
}

.links p, .work-availability p{
    margin-bottom: 0px; 
/*    margin-top: 7px;*/
}

.links .info-title, .work-availability .info-title{
    margin-bottom: 0px;
}

.email-link{
    transition: opacity 0.5s ease;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
}

.email-link:hover{
    opacity: .5;
}


/* //////////PROJECT PAGE/////////////*/

.project-story{
    max-width: 520px;
    margin: 0;
    padding: var(--spacing-padding);
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 101;
}

.project-story h3{
    padding-top: var(--spacing-padding);
}

.project-story p{
   margin-bottom: var(--spacing-padding);
   z-index: 2;
}

.overview img{
    max-width: 350px;
    margin-top: 40px;
}

.overview{
    margin-top: 80px;
}

h3{
    font-weight: normal;
    font-size: 26px;
    color: var(--grey-color);
}

.juxtagraph-circle{
    border: 1px solid red;
    position: relative;
    padding-bottom: 70px;
}

.juxtagraph-circle img{
    max-width: 60vw;
}

.juxtagraph-circle .big-link{
    position: absolute;
    vertical-align: middle;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 28%;
    /*margin-bottom: 0;*/

    padding: 0px;
}

.project-story video{
    max-width: 100%;
}

.video-container{
   
}

/*FOR TRAVEL PALS VIDEO*/
.video-container{
    position: relative;
    /*height: auto;*/

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    width: 1000px;
    height: 563px;

    margin-top: 100px;
    margin-bottom: 100px;

    margin-bottom: var(--spacing-padding);
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen  and (max-width : 1300px) {
    .video-container{
        position: relative;
        padding-bottom: 56.25%; /*16:9*/
        padding-top: 25px;
        width: auto;
        height: 0;
    }
}

.project-container{
    padding-left: 0px;
    padding-right: 0px;
}

.content{
    position: relative;
}

.project-story img{
    max-width: calc(100vw - 80px);
    margin-bottom: var(--spacing-padding);
    /*display: block;*/
    /*float: left;*/

    /*left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;*/
}

.overview img{
    max-width: 350px;
}

#first-post{
    margin-top: 80px;
}

.date{
    color: var(--grey-color);
    font-size: 15px;
}

.post-wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
}

.post-wrapper img{
    margin: 0px;
}

.post-wrapper a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    /*margin-top: -20px;
    top: -15px;
    position: relative;*/
}

#width500 img{
    max-width: 500px;
}

#drop-shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 1px 6px rgba(0,0,0,0.2);
}

.spinning-image{
    text-align: center;
    margin-top: 20px;
}

.spinning-image img{
    -webkit-animation:spin 12s linear infinite;
    -moz-animation:spin 12s linear infinite;
    animation:spin 12s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.post-wrapper p{
    margin-bottom: 20px;
}

#new-tab-arrow{
    transform: rotate(-135deg);
    margin: 0px;
    width: 15px;
    position: relative;
    top: -14px;
    left: 5px;
}

footer {
    padding: 10px;
    padding-left: 0px;
    font-size: 14px;
    color: grey;
}

li a{
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    color: black;
}

li {
    margin-bottom: 20px;
}


/*When there's enough space for 2 column*/
@media only screen  and (min-width : 622px) {
    :root {
        --spacing-padding: 40px;
    }

    header{
        height: 157px;
    }

    .menu{
        width: 356px;
        float: none;
        margin-left: 237px;
        display: block;
    }

    .who{
        width: 100%;
    }

    .name{
        width: 191px;
        margin-right: var(--spacing-padding);
    }

    .project-title{
        vertical-align: top;
        width: 191px;
        margin-right: var(--spacing-padding);
        font-size: 19px;
    }

    .landing-image{
        display: block;
        /*display: none;*/
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%
    }

     .project-container{
        display: grid;
        grid-template-columns: 610px 1fr;
        grid-gap: var(--spacing-padding);
        grid-row-gap: 0px;
    }

    /*
    ///////////INFO PAGE////////////
    */

    .bio-content{
        display: grid;
        grid-template-columns: 235px 371px;
    }

    .bio{
        padding-top: var(--spacing-padding);
    }

    .links, .work-availability, .bio-image{
        grid-column-start: 2;
    }


}

/*Images in same row*/
@media only screen  and (min-width : 950px) {

    .project-container{
        height: 105px;
        transition: padding .5s ease;
    }

    .project-container:hover {
         /*padding: 60px;*/
         padding-left: 30px;
         padding-right: 0px;
         background-color: #F9F9F9;
    }
    
    .landing-image{
        opacity: 0;
        transition: opacity .5s ease;
    }

    .project-container:hover > .landing-image {
        opacity: 1;
    }


    .project-container-wrapper{
        position: relative;
    }

    .landing-image{
        position: absolute;
        width: calc(100vw - 730px);
        right: var(--spacing-padding);

        top: 0; 
        bottom: 0; 
        margin-top: auto; 
        margin-bottom: auto;

    }

    .landing-image video, .landing-image img{
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    /*video{
        vertical-align: center;
        top: 50%; 
        bottom: 50%; 
        margin-top: auto; 
        margin-bottom: auto;
    }*/


    .project-container{
        display: grid;
        grid-template-columns: 610px 1fr;
        grid-gap: var(--spacing-padding);
        grid-row-gap: 0px;
    }

    .landing-image{
        padding-top: 0px;
        grid-column-start: 2;
    }

    .menu, .role, .project-description{
        width: 356px;
        float: none;
    }

    .landing-text-container{
        display: inline-block;
    }

    .project-title, .name{
        width: 191px;
        margin-right: var(--spacing-padding);
    }

    
     /*
    ///////////INFO PAGE////////////
    */

    .bio-content{
        display: grid;
        grid-template-columns: 184px 371px 1fr;
        grid-column-gap: 50px;
        padding-top: var(--spacing-padding);
    }

    .bio{
        padding-top: 0px;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .links{
        grid-column-start: 3;
        margin-top: 22px;
    }
    .work-availability{
        grid-column-start: 3;
        margin-top: 28px;
    }
    .bio-image{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
    }

    .bio-image img{
        padding-top: 7px;
    }

    .info-title{
        padding-top: 0px;
    }

    .bio-image, .links, .work-availability{
        max-width: 371px;
        /*margin-top: -10px;*/
    }

    /*
    ///////////PROJECT PAGE////////////
    */

    .project-story{
        /*display: grid;
        grid-template-columns: 184px 520px 1fr;
        grid-column-gap: 50px;*/
        margin-left: 234px;
        max-width: 520px;
        /*padding-top: var(--spacing-padding);*/
    }

    .project-story img{
        margin-left: -234px;
    }

    #align-with-text{
        margin-left: 0px;
        max-width: calc(100vw - 314px);
    }

    .overview img{
        width: 350px;
        margin-bottom: -40px;
    }

    #poster-mockup{
        margin-left:-52px
    }

    #serendipity-mockups{
        margin-left: -117px;
    }

    #site-map{
        max-width:700px;
        margin-left: 0px;
    }

    .project-story h3{
        /*grid-column-start: 1;*/
        margin-top: 3px;
        margin-bottom: 10px;
    }

    .project-story p{
        grid-column-start: 2;
        /*grid-row-start: 1;*/
    }

}

/*turns landing image on for project pages*/
#project-page {
    opacity: 1;
    /*padding: 60px;*/
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
}



