@font-face {
    font-family: 'Sporting Grotesque_Regular';
    src:    url('Sporting_Grotesque-Regular.eot');
    src:    url('Sporting_Grotesque-Regular.eot?#iefix') format('embedded-opentype'),
            url('Sporting_Grotesque-Regular.woff') format('woff'),
            url('Sporting_Grotesque-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html{
	background-color: #191919;
    font-family: Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 20px;
    padding: 20px;
     animation: 1s ease-in 0s 1 fadeIn;
}
 
.header-link {
    text-decoration: none;
    color: white;
}

.header-link:hover .flipped180{
    opacity: 1;
}

header div{
    display: inline-block;
}

.container2{
    position: relative;
    bottom: -17px;
    left: -57px;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flipped180{
    transition: opacity 0.5s ease;
    opacity: .4;
    position: relative;
    bottom: -20px;
    left: -54px;


    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
    ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.fipped180:hover {
    opacity: 1;
}

p{
    margin-top: 35px;
}

.description{
    margin-top: 60px;
    font-size: 16px;
    font-family: 'Sporting Grotesque_Regular';
}

.email-link{
    transition: opacity 0.5s ease;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
}


.email-link:hover{
    opacity: .5;
}


/*.spinning-image{
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    text-align: center;
}

.spinning-image img{
	-webkit-animation:spin 12s linear infinite;
    -moz-animation:spin 12s linear infinite;
    animation:spin 12s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }*/