@font-face {
  font-family: 'UntitledSans';
  src: url('../fonts/UntitledSansWeb-Regular.eot');
  src: url('../fonts/UntitledSansWeb-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/UntitledSansWeb-Regular.woff2') format('woff2'), 
       url('../fonts/UntitledSansWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UntitledSans';
  src: url('../fonts/UntitledSansWeb-RegularItalic.eot');
  src: url('../fonts/UntitledSansWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/UntitledSansWeb-RegularItalic.woff2') format('woff2'), 
       url('../fonts/UntitledSansWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/*test font to view font locally*/
@font-face {
    font-family: 'UntitledSansTest-Regular';
    src:    url('UntitledSansTest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*site-wide variables*/
:root {
  --grey-color: grey;
  --spacing-padding: 30px;
}

html{
    font-family: 'UntitledSans','UntitledSansTest-Regular',sans-serif;
    font-style: normal;

    font-size: 19px;
    line-height: 27px;

    -webkit-font-smoothing: antialiased;
     animation: 1s ease-in 0s 1 fadeIn;
}

html a{
    transition: opacity 0.3s ease;
}

html a:hover{
    opacity: .5;
}

body{
    margin: 0px;
}




/*
///////// HEADER //////////
*/

header{
    text-align: left;
    margin: var(--spacing-padding);
    margin-bottom: 0px;
    border-bottom: 1px solid lightgrey;

    max-width: 1080px;

}

.name{
    text-decoration: none;
    color: black;
    display: inline-block;
    vertical-align: top;
    margin-right: 31px;

    padding-bottom: var(--spacing-padding);
}

.role{
    color: var(--grey-color);
    display: inline-block;
    padding-bottom: var(--spacing-padding);
    width: 162px;
}

.who{
    display: inline-block;
}

.menu{
    vertical-align: top;
    padding-bottom: var(--spacing-padding);
    display: inline-block;
    margin-top: -4px; 
}

.menu a{
    text-decoration: none;
    margin-right: 32px;
    color: var(--grey-color);
    opacity: 1;

}

.menu a img{
    width: 13px;
}

.arrow-right img{
    transform: rotate(-90deg);
    margin-right: 3px;
}

.menu-resume img{
    transform: rotate(-135deg);
}

/*
///////// LANDING //////////
*/

.project-container{
    padding: var(--spacing-padding);
    padding-left: 0px;
    padding-right: 0px;
    margin: var(--spacing-padding);
    margin-top: 0px;
    margin-bottom: 0px;

    border-bottom: 1px solid lightgrey;
}

.landing-text-container div{
    display: inline-block;
}

.project-title{
    font-size: 26px;
    width: 203px;
    margin-bottom: var(--spacing-padding);
}

.project-description{
    max-width: 355px;
}

.project-blurb{
    line-height: 27px;
    margin-bottom: calc(var(--spacing-padding)/2);
}

.project-tags{
    color: var(--grey-color);
    font-style: italic;
}

.landing-image{
     padding-top: var(--spacing-padding);
}

.landing-image video{
    width: 100%;
}


.content{
    max-width: 1080px;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}



.big-link{
    margin-bottom: 30px;
}

.big-link a{
    font-size: 40px;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 4px solid blue;
    color: black;
    color: blue;

}


p{
    font-size: 19px;
    line-height: 27px;
    margin-bottom: 20px;
}

p a{
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    color: black;
}


/*
///////// BIO //////////
*/

.bio, .bio-image p,.links, .work-availability{
    /*margin-bottom: 40px;*/
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 470px;
    padding-left: var(--spacing-padding);
    padding-right: var(--spacing-padding);
}

.info-title{
    font-size: 24px;
    margin-bottom: 10px;
}

.bio-content p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
}

.bio-image img{
    width: 100%;
}

/*image caption*/
.bio-image p{
    opacity: 0.5;
    font-size: 14px;
    text-align: left;
}

#half-opacity{
    opacity: .5;
}

.links{
    margin-bottom: 40px;
}

.links p a{
    margin-right: 20px;
    line-height: 30px;
}



ul{
    font-size: 18px;
    line-height: 30px;
    padding: 15px;
    max-width: 612px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#img-small{
    /*max-width: 470px;*/
}

.email-link{
    transition: opacity 0.5s ease;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
}

.email-link:hover{
    opacity: .5;
}


/* //////////PROJECT PAGE/////////////*/

.project-meta-wrapper{
    background-color: #EDEDED;
    /*width: 100vw;*/

    padding: 50px;
    padding-left: 27px;
    padding-right: 27px;
}

.project-story{
    max-width: 612px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    padding-left: 27px;
    padding-right: 27px;
}

.project-story p{
    font-size: 18px;
    line-height: 30px;
}

h3{
    font-weight: normal;
    font-size: 26px;
    color: var(--grey-color);
}

.project-story img, .project-story video{
    max-width: 100%;
}


footer {
    padding: 10px;
    padding-left: 0px;
    font-size: 14px;
    color: grey;
}


/*When there's enough space for 2 column*/
@media only screen  and (min-width : 622px) {
    header{
        height: 140px;
    }

    .menu{
        margin-left: 184px;
    }

    .menu, .role, .project-description{
        width: 356px;
        float: right;
    }

    .landing-text-container{
        overflow:hidden;
    }

    .who{
        width: 100%;
    }

    .name{
        margin-right: 62px;
    }

    .project-title{
        vertical-align: top;
    }
}

/*30px spacing -> 60px spacing*/
@media only screen  and (min-width : 720px) {

}

/*Images in same row*/
@media only screen  and (min-width : 850px) {
    .menu{
        margin-left: 0px;
        grid-column-start: 2;
    }

    .project-container, header{
        display: grid;
        grid-template-columns: 355px 1fr;
        grid-gap: var(--spacing-padding);
        grid-row-gap: 0px;
    }

    .landing-image{
        display: inline-block;
        padding-top: 0px;
    }

    .menu, .role, .project-description{
        width: 356px;
        float: none;
    }

    .landing-text-container{
        display: inline-block;
    }

    .project-title, .name{
        width: 205px;
        margin-right: var(--spacing-padding);
    }

    

}






